@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfbf7; /* Fond Crème */
  color: #1e293b; /* Texte Gris Foncé */
}

/* Cache la barre de défilement mais permet de scroller */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
