@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #050505; /* Noir profond */
  --primary: #ff0050; /* Rose TikTok */
  --cyan: #00f2ea; /* Cyan */
  --card: #121212; /* Gris foncé */
}

body {
  background-color: var(--bg-main);
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden; /* Empêche le scroll horizontal */
}

/* --- FIX CRITIQUE POUR LES ICÔNES --- */
/* Empêche les SVG de devenir géants */
svg {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

/* Scrollbar invisible */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Bouton Gradient Rose */
.btn-glow {
  background: linear-gradient(90deg, #ff0050, #d9004c);
  box-shadow: 0 0 20px rgba(255, 0, 80, 0.3);
}
.btn-glow:disabled {
  background: #1f1f1f;
  box-shadow: none;
  color: #444;
}
